<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
    <a href="/shinies">Current Hunts List</a>
    <h1>Successful Hunts</h1>
    <% if (user) { %>
        <form id="add-pokemon" action="/successes" method="POST">
            <input type="text" value="Pokemon Name" name="name">
            <input type="text" value="Location" name="location">
            <input type="text" value="Methods" name="methods">
            <button type="submit">Add Pokemon</button>
        </form>
    <% } else { %>
        <div>Login to make your list</div>
    <% } %> 
</body>
</html>