<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Shiny Journal</title>
</head>
<body>
  <nav>
    <% if (user) { %>
        <a href="/logout">LOG OUT</a>
      <% } else { %>
        <a href="/auth/google" class="login">LOG IN&nbsp;<img class="google" src="https://i.imgur.com/FHjYyi0.png"></a>
      <% } %>
  </nav>
  <div id="links">
    <a href="/shinies">Current Hunts List</a>
    <a href="/successes">Successful Hunts List</a>
  </div>
    <div id="intro">
      <p>A place to track shiny hunts. Log in with Google to make your own list!</p>
    </div>
</body>
</html>