.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

body {
  text-align: center;
  justify-content: center;
  background-image: linear-gradient(to right top, #412184, #831b82, #b32079, #d8396b, #f25c5c);
  background-attachment: fixed;
}

nav {
  margin-left: 0px;
  margin-top: 0px;
}

table {
  border-collapse: collapse;
  margin: auto;
  text-align: left;
  border: solid 2px;
  background-color: white;
}

th, td {
  border: 1px solid black;
  padding: 0.5rem;
}

th {
  background-color: #FBEAFF;
}