.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

body {
  text-align: center;
  justify-content: center;
  background-image: linear-gradient(to right top, #412184, #831b82, #b32079, #d8396b, #f25c5c);
  background-attachment: fixed;
}

nav {
  margin-left: 0px;
  margin-top: 0px;
}

.google {
  height: 20px;
}

#links {
  color: white;
  border: none;
}

hr {
  max-width: 500px;
  border-style: solid;
  color: white;
}

a {
  color: white;
}

p {
  color: #C4FCEF;
}

h1 {
  color: #C4FCEF;
}

#add-pokemon {
  margin: 8px auto;
}

#add-pokemon>button,
input {
  margin: 5px auto;
}

table {
  border-collapse: collapse;
  margin: 5px auto;
  text-align: center;
  background-color: white;
}

th,
td {
  border: 1px solid white;
  padding: 0.5rem;
  min-width: 200px;
}

th {
  background-color: #C4FCEF;
}

#image-box {
  height: 250px;
}

#pokemon-image {
  max-height: 200px;
}

#pokemon-name {
  font-size: large;
  font-weight: bold;
  background-color: #C4FCEF;
}

button {
  border: none;
  background-color: #412184;
  color: #FBEAFF;
  border-radius: 5px;
}

input {
  border-radius: 5px;
}